# Base de datos PostgreSQL
DATABASE_URL="postgresql://sip_user:sip_pass@db:5432/sip_db"

# Seguridad JWT
JWT_SECRET="cambia_esto_por_una_clave_secreta_larga"

# Puerto del backend
PORT=4000

# Entorno
NODE_ENV=development

# Zona horaria
TZ=America/Santiago
