# Dependencias
node_modules/
backend/node_modules/
frontend/node_modules/

# Build
backend/dist/
frontend/dist/

# Variables de entorno
# backend/.env se incluye en el repo para facilitar el despliegue en evaluacion
frontend/.env

# Docker volumes
sip_pgdata/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/